'.platform-darwin, .platform-darwin .command-palette .atom-text-editor':
  'cmd-alt-shift-right': 'atom-radiant-player:next'
  'cmd-alt-shift-left': 'atom-radiant-player:previous'
  'ctrl-alt-t': 'atom-radiant-player:togglePlay'
  'ctrl-alt-P': 'atom-radiant-player:play'
  'ctrl-alt-p': 'atom-radiant-player:pause'
